extends header
block content
    .contend-form
        h1 Bienvenido!
        if datos 
             h2 #{datos.email}
             h2 Lista de Estudiantes
             ul 
               each nombre in datos.alumnos
                   li= nombre
        else
           h2 datos no disponible